@import '../../styles/cssReset';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/screenSize';


@mixin menuLink(){
    padding:10px 20px;
    border-radius: 10px;
    &:hover{
        background-color: $Wild-Sand;
    }
}

.segment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: yekan;
    margin-top: 10px;
    height:10vh;
    padding:0 20px;
    border: 3px solid $Wild-Sand;
    border-radius: 20px 20px 0 0;
    .myShop{
        font-size:18px;
        color:$scarlet;
        @include menuLink();
    }
    .search{
        .form{
            display: flex;
            justify-content: flex-end;
            .searchBar{
                background-color: $Wild-Sand;
                text-align: right;
                font-family: yekanRegular;
                padding: 8px 15px;
                border-radius: 10px;
                &::placeholder{
                    opacity: 0.5;
                }
            }
        }
        .searchResultsContainer{
            display: flex;
            justify-content: flex-end;
            .searchResults{
                border-radius: 0 0 10px 10px;
                position: absolute;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                z-index: 2;
                background:$white;
                border:1px solid $iron;
                .searchTitle{
                    padding:10px;
                    margin:0;
                    border:1px solid $Wild-Sand;
                    &:hover{
                        background-color: $Wild-Sand;
                    }
                }
            }
            .emptyResult{
                display: none;
            }
        }
        
    }
    
    .authMenu{
        .logIn{
            @include menuLink();
            .enterance{
                margin:0 5px 0 0;
            }
        }
        .wellcome{
            padding:10px 20px;
            border-radius: 10px;
            display: flex;
            .exit{
                color:$scarlet;
                cursor: pointer;
                margin:0 20px 0 0;
            }
        }
    }
}



@media screen and (min-width:$lg){
    .segment{
        .search{
            flex: auto;
            .form{
                .searchBar{
                    width:40em;
                }
            }
            .searchResultsContainer{
                .searchResults{
                    width:40em;
                }
            }
        }
    }
}

@media screen and (min-width:$md) and (max-width:$lg){
    .segment{
        .search{
            flex: auto;
            .form{
                .searchBar{
                    width:30em;
                }
            }
            .searchResultsContainer{
                .searchResults{
                    width:30em;
                }
            }
        }
    }
}

@media screen and (min-width:$sm) and (max-width:$md){
    .segment{
        .search{
            flex: auto;
            .form{
                .searchBar{
                    width:25em;
                }
            }
            .searchResultsContainer{
                .searchResults{
                    width:25em;
                }
            }
        }
    }
}

@media screen and (min-width:$xs) and (max-width:$sm){
    .segment{
        .search{
            flex: auto;
            .form{
                .searchBar{
                    width:40vw;
                }
            }
            .searchResultsContainer{
                .searchResults{
                    width:40vw;
                }
            }
        }
    }
}

@media screen and (max-width:$xs){
    .segment{
        flex-wrap: wrap;
        height: 15vh;
        .search{
            order:3;
            flex: 100%;
            .form{
                display: flex;
                justify-content: center;
                .searchBar{
                    width:80vw;
                }
            }
            .searchResultsContainer{
                display: flex;
                justify-content: center;
                .searchResults{
                    width:80vw;
                }
            }
        }
        .myShop{
            order:2;
            font-size:14px;
        }
        .authMenu{
            order:1;
            font-size:14px;
        }
    }
}
