@import '../../styles/cssReset';
@import '../../styles/colors';
@import '../../styles/fonts';


@mixin menuLink(){
    padding:10px 20px;
    border-radius: 10px;
    &:hover{
        background-color: $Wild-Sand;
    }
}
.segment{
    margin-top: 10px;
    height:100px;
    padding:0 20px;
    border: 3px solid $Wild-Sand;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 0 0;
    .myShop{
        font-size:18px;
        color:$scarlet;
        @include menuLink();
    }
    .leftMenu{
        display: flex;
    }
}

.wellcome{
    padding:10px 20px;
    border-radius: 10px;
    display: flex;
    .exit{
        color:$scarlet;
        cursor: pointer;
        margin:0 20px 0 0;
    }
}


.logIn{
    @include menuLink();
    .enterance{
        margin:0 5px 0 0;
    }
}

*{
    font-family:yekan;
}
