@import '../../styles/cssReset';
@import '../../styles/colors';
@import '../../styles/fonts';
@import '../../styles/formSegment';
@import '../../styles/field';

.container{
    
    .segment{
        margin:100px auto;
        @include formSegment();
        h2{
            text-align: center;
            color:$scarlet;
            font-family: yekan;
        }
        .field{
            @include field();
        }
        .redBtn{
            padding: 10px 30px;
            background-color: $scarlet;
            border-radius: 5px;
            color:$white;
            cursor: pointer;
            display:block;
            margin: 10px auto;
            font-family: yekan;
        }
        .rules{
            margin-top:20px;
            p{
                font-family: yekanRegular;
                text-align: center;
            }
        }
        .btn{
            font-family: yekan;
            display:block;
            width:100px;
            margin:10px auto;
            text-align: center;
            padding:10px;
            border-radius: 10px;
            &:hover{
                background-color: $Wild-Sand;
            }
        }
    }
}